body {
  background-color: #E8E8E8;
}

h1 {
  color: #66BFBF;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

h3 {
  color: #66BFBF;
}

a:hover {
  color: red;
}

.whitelink:hover {
  background-color: white;
}
